{
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.4"
    }
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018
  },
  "plugins": ["react"],
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}
